<div class="col s12 m7">
  <h2 class="header">{{poll.title}}</h2>
  <div class="card">
    <div class="card-image">
      <img src="./images/detail.jpg" height="120" width="100">
      <span class="card-title blue-text">{{poll.description}}</span>
      <a class="btn-floating halfway-fab waves-effect waves-light blue" (click)="vote()"><i class="material-icons">done</i></a>       
    </div>
    <div class="card-stacked">
      <div class="card-action">
        <form action="#">
          <p *ngFor="let theOption of poll.options; let i = index">
            <input name="group" type="radio" id="{{ theOption.id }}" [checked]="index === 0" [value]="theOption.id" (change)="onSelectionChange(theOption)" />
            <label for="{{ theOption.id }}">{{ theOption.description }} </label>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>